<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application" %>
<div class='container'>
  <div class='row'>
  <div class="col-lg-4">
     <p>Column #1</p>
     <button type="button" class="btn btn-primary">Primary</button>
   </div>
   <div class="col-lg-4">
      <p>Column #2</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
       <p>Column #3</p>
       <button type="button" class="btn btn-primary">Primary</button>
     </div>
    </div>
    <div class='row'>
    <div class="col-lg-4">
       <p>I am learning</p>
       <button type="button" class="btn btn-primary">Primary</button>
     </div>
     <div class="col-lg-4">
        <p>bootstrap</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-lg-4">
         <p>cool!</p>
         <button type="button" class="btn btn-danger">Danger</button>
       </div>
      </div>
      <div class='row'>
      <div class="col-lg-4">
         <p>Name</p>
         <button type="button" class="btn btn-primary">Primary</button>
       </div>
       <div class="col-lg-4">
          <p>Age</p>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
        <div class="col-lg-4">
           <p>Date</p>
           <button type="button" class="btn btn-success">Success</button>
         </div>
        </div>

</div>
</body>
</html>
